body {
	margin: 0;
	padding: 0;
}

.container {
  	display: flex;
  	flex-direction: row;
  	align-content: center;
  	justify-content: center;
}

.city {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	height: 100vh;
	box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 0.5s;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size: 5rem;
  background-size: 100%;
}

.city:hover {
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.city-on {
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.tor {
	background: url('http://tinyimg.io/i/IJQhBqw.jpg') no-repeat center;
	background-size: 100vw;
}

.ott {
	/*background: url('http://tinyimg.io/i/0kgDXck.jpg') no-repeat center;*/
  background: url('http://www.peoplesource.ca/_images/ottawa.jpg') no-repeat center;
	background-size: 100vw;
}

.qc {
	/*background: url('http://tinyimg.io/i/d6Hz6iJ.jpg') no-repeat center;*/
  background: url('https://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2015/09/GettyImages-554993579_full.jpg') no-repeat center;
	background-size: 100vw;
}

.mtl {
	/*background: url('http://tinyimg.io/i/ybJK8Vg.jpg') no-repeat center;*/
  background: url('http://www.amazingescapades.com/wp-content/uploads/2014/07/Montreal-Montreal_-_Rue_Crescent-Google-Free-Images.jpg') no-repeat center;
	background-size: 100vw;
}

.name {
	transition: all 0.5s;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.name-collapse {
	font-size: 0;
}

.fly-up {
	transform: translateY(-40vh);
}

a {
  	color: inherit;
  	text-decoration: inherit;
  	outline: 0;
}

.city-full {
	width: 100%;
  height: 100vh;
}

.city-collapse {
	width: 0;
}